In [3]:
#import dependencies
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [4]:
#read csv 
animal_data = pd.read_csv("Animal Shelter skinniest.csv", sep=',', encoding='latin-1')
animal_data.head()

,Unnamed: 0,County,Year,ShelterID,BusName,City,Zip,License Type,DogSold,PupSold,...,BegInvOther,OtherRec,OtherAdopt,OtherReclaim,OtherEuth,EndInvOther,AllRec,AllAdopt,AllReclaim,AllEuth
0,0,Adams,2012.0,5531,Adams County Animal Shelter,Quincy,62305,Animal Control,NaN,NaN,...,0.0,1.0,NaN,1.0,NaN,0,142.0,82,60,1
1,1,Adams,2010.0,5531,Adams County Animal Shelter,Quincy,62305,Animal Control,NaN,NaN,...,NaN,10.0,4.0,1.0,5.0,NaN,331.0,253,66,12
2,2,Adams,2011.0,5531,Adams County Animal Shelter,Quincy,62305,Animal Control,NaN,NaN,...,0.0,10.0,1.0,0.0,9.0,NaN,267.0,154,95,18
3,3,Adams,2014.0,5531,Adams County Animal Shelter,Quincy,62305,Animal Control,NaN,NaN,...,0.0,1.0,1.0,NaN,NaN,0,197.0,78,86,9
4,4,Adams,2012.0,13357,City of Quincy Animal Shelter,Quincy,62301,Animal Control,NaN,NaN,...,NaN,6.0,4.0,0.0,2.0,NaN,1029.0,521,286,222

In [6]:
animal_data.dtypes

Unnamed: 0        int64
County           object
Year            float64
ShelterID        object
BusName          object
City             object
Zip              object
License Type     object
DogSold         float64
PupSold         float64
CatSold         float64
KitSold         float64
ExoticSold      float64
BegInvDog        object
DogRec          float64
DogAdopt         object
DogReclaim       object
DogEuth          object
EndInvDogs      float64
BegInvCat       float64
CatRec          float64
CatsAdopt       float64
CatsReclaim     float64
CatEuth         float64
EndInvCats      float64
BegInvOther     float64
OtherRec        float64
OtherAdopt      float64
OtherReclaim    float64
OtherEuth       float64
EndInvOther      object
AllRec          float64
AllAdopt         object
AllReclaim       object
AllEuth          object
dtype: object

In [8]:
Total = animal_data['CatsAdopt'].sum()
print (Total)
# animal_data['CatsAdopt'] = pd.to_numeric(animal_data['CatsAdopt'])
# animal_data.dtypes
# animal_data.fillna(0)

# animal_data.fillna(0)

198650.0

In [9]:
print animal_data.groupby(['ShelterID','Year']).groups

SyntaxError: invalid syntax (<ipython-input-9-7ca69a75a538>, line 1)

In [ ]:
# Total = animal_data['CatsAdopt'].sum()
# print (Total)