In [4]:
#import dependencies
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [5]:
#read csv 
animal_data = pd.read_csv("IL Shelter Data 2010 to 2015 - skinnier.csv", sep=',', encoding='latin-1')

C:\Users\ShadowG\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (0,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [6]:
animal_data.head()

,County,Year,ShelterID,BusName,City,State,Zip,License Type,DogSold,PupSold,...,Unnamed: 16356,Unnamed: 16357,Unnamed: 16358,Unnamed: 16359,Unnamed: 16360,Unnamed: 16361,Unnamed: 16362,Unnamed: 16363,Unnamed: 16364,Unnamed: 16365
0,Adams,2012.0,5531,Adams County Animal Shelter,Quincy,IL,62305,Animal Control,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Adams,2010.0,5531,Adams County Animal Shelter,Quincy,IL,62305,Animal Control,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Adams,2011.0,5531,Adams County Animal Shelter,Quincy,IL,62305,Animal Control,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Adams,2014.0,5531,Adams County Animal Shelter,Quincy,IL,62305,Animal Control,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Adams,2012.0,13357,City of Quincy Animal Shelter,Quincy,IL,62301,Animal Control,,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
animal_data = animal_data.filter(['County','Year','ShelterID','BusName','City','State','Zip','License Type','DogSold','PupSold','CatSold','KitSold','ExoticSold','BegInvDog','DogRec','DogAdopt','DogReclaim','DogEuth','EndInvDogs','BegInvCat','CatRec','CatsAdopt','CatsReclaim','CatEuth','EndInvCats','BegInvOther','OtherRec','OtherAdopt','OtherReclaim','OtherEuth','EndInvOther'], axis=1)

In [8]:
animal_data.head()

,County,Year,ShelterID,BusName,City,State,Zip,License Type,DogSold,PupSold,...,CatsAdopt,CatsReclaim,CatEuth,EndInvCats,BegInvOther,OtherRec,OtherAdopt,OtherReclaim,OtherEuth,EndInvOther
0,Adams,2012.0,5531,Adams County Animal Shelter,Quincy,IL,62305,Animal Control,NaN,NaN,...,1,NaN,NaN,0,0,1,NaN,1,NaN,0
1,Adams,2010.0,5531,Adams County Animal Shelter,Quincy,IL,62305,Animal Control,NaN,NaN,...,26,0,0,NaN,NaN,10,4,1,5,NaN
2,Adams,2011.0,5531,Adams County Animal Shelter,Quincy,IL,62305,Animal Control,NaN,NaN,...,6,0,1,0,0,10,1,0,9,NaN
3,Adams,2014.0,5531,Adams County Animal Shelter,Quincy,IL,62305,Animal Control,NaN,NaN,...,12,NaN,NaN,0,0,1,1,NaN,NaN,0
4,Adams,2012.0,13357,City of Quincy Animal Shelter,Quincy,IL,62301,Animal Control,,,...,272,21,167,NaN,NaN,6,4,0,2,NaN

In [9]:
animal_data.to_csv('Animal Shelter skinniest.csv')