In [1]:
#import dependencies
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [2]:
#read csv 
animal_data = pd.read_csv("Animal Shelter skinniest.csv", sep=',', encoding='latin-1')
animal_data = animal_data.fillna(0)
animal_data.head()

,Unnamed: 0,Unnamed: 0.1,County,Year,ShelterID,BusName,City,Zip,License Type,DogSold,...,BegInvOther,OtherRec,OtherAdopt,OtherReclaim,OtherEuth,EndInvOther,AllRec,AllAdopt,AllReclaim,AllEuth
0,0,0,Adams,2012.0,5531,Adams County Animal Shelter,Quincy,62305,Animal Control,0.0,...,0.0,1.0,0.0,1.0,0.0,0,142.0,82.0,60.0,1.0
1,1,1,Adams,2010.0,5531,Adams County Animal Shelter,Quincy,62305,Animal Control,0.0,...,0.0,10.0,4.0,1.0,5.0,0,331.0,253.0,66.0,12.0
2,2,2,Adams,2011.0,5531,Adams County Animal Shelter,Quincy,62305,Animal Control,0.0,...,0.0,10.0,1.0,0.0,9.0,0,267.0,154.0,95.0,18.0
3,3,3,Adams,2014.0,5531,Adams County Animal Shelter,Quincy,62305,Animal Control,0.0,...,0.0,1.0,1.0,0.0,0.0,0,197.0,78.0,86.0,9.0
4,4,4,Adams,2012.0,13357,City of Quincy Animal Shelter,Quincy,62301,Animal Control,0.0,...,0.0,6.0,4.0,0.0,2.0,0,1029.0,521.0,286.0,222.0

In [3]:
# animal_data = animal_data.filter(['County','Year','ShelterID','BusName','City','Zip','License Type','DogSold','PupSold','CatSold','KitSold','ExoticSold','BegInvDog','DogRec','DogAdopt','DogReclaim','DogEuth','EndInvDogs','BegInvCat','CatRec','CatsAdopt','CatsReclaim','CatEuth','EndInvCats','BegInvOther','OtherRec','OtherAdopt','OtherReclaim','OtherEuth','EndInvOther'], axis=1)
# animal_data.head()

In [4]:
animal_data.dtypes

Unnamed: 0        int64
Unnamed: 0.1      int64
County           object
Year            float64
ShelterID        object
BusName          object
City             object
Zip              object
License Type     object
DogSold         float64
PupSold         float64
CatSold         float64
KitSold         float64
ExoticSold      float64
BegInvDog       float64
DogRec          float64
DogAdopt        float64
DogReclaim      float64
DogEuth         float64
EndInvDogs      float64
BegInvCat       float64
CatRec          float64
CatsAdopt       float64
CatsReclaim     float64
CatEuth         float64
EndInvCats      float64
BegInvOther     float64
OtherRec        float64
OtherAdopt      float64
OtherReclaim    float64
OtherEuth       float64
EndInvOther      object
AllRec          float64
AllAdopt        float64
AllReclaim      float64
AllEuth         float64
dtype: object

In [5]:
animal_data.to_csv('Animal Shelter skinniest.csv')

In [9]:
# Total = animal_data['CatsAdopt'].sum()
# print (Total)
animal_data['EndInvOther'] = pd.to_numeric(animal_data['EndInvOther'])
# animal_data.dtypes
# animal_data.fillna(0)

# animal_data = animal_data.fillna(0)

ValueError: Unable to parse string " " at position 75

In [7]:
#print animal_data.groupby(['ShelterID','Year']).groups
animal_data.info()
animal_data.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3491 entries, 0 to 3490
Data columns (total 36 columns):
Unnamed: 0      3491 non-null int64
Unnamed: 0.1    3491 non-null int64
County          3491 non-null object
Year            3491 non-null float64
ShelterID       3491 non-null object
BusName         3491 non-null object
City            3491 non-null object
Zip             3491 non-null object
License Type    3491 non-null object
DogSold         3491 non-null float64
PupSold         3491 non-null float64
CatSold         3491 non-null float64
KitSold         3491 non-null float64
ExoticSold      3491 non-null float64
BegInvDog       3491 non-null float64
DogRec          3491 non-null float64
DogAdopt        3491 non-null float64
DogReclaim      3491 non-null float64
DogEuth         3491 non-null float64
EndInvDogs      3491 non-null float64
BegInvCat       3491 non-null float64
CatRec          3491 non-null float64
CatsAdopt       3491 non-null float64
CatsReclaim     3491 non-null float64
CatEuth         3491 non-null float64
EndInvCats      3491 non-null float64
BegInvOther     3491 non-null float64
OtherRec        3491 non-null float64
OtherAdopt      3491 non-null float64
OtherReclaim    3491 non-null float64
OtherEuth       3491 non-null float64
EndInvOther     3491 non-null object
AllRec          3491 non-null float64
AllAdopt        3491 non-null float64
AllReclaim      3491 non-null float64
AllEuth         3491 non-null float64
dtypes: float64(27), int64(2), object(7)
memory usage: 981.9+ KB

,Unnamed: 0,Unnamed: 0.1,Year,DogSold,PupSold,CatSold,KitSold,ExoticSold,BegInvDog,DogRec,...,EndInvCats,BegInvOther,OtherRec,OtherAdopt,OtherReclaim,OtherEuth,AllRec,AllAdopt,AllReclaim,AllEuth
count,3491.000000,3491.000000,3491.000000,3491.000000,3491.000000,3491.000000,3491.000000,3491.000000,3491.000000,3491.000000,...,3491.000000,3491.000000,3491.000000,3491.000000,3491.000000,3491.000000,3491.000000,3491.000000,3491.000000,3491.000000
mean,1745.000000,1745.000000,1429.003437,12.849327,6.731023,6.790318,6.571756,0.828989,13.835004,157.545402,...,13.866800,3.011744,13.617875,3.965912,0.191063,5.046691,291.588370,142.938700,30.779719,80.749069
std,1007.909222,1007.909222,913.161963,77.864059,46.938008,52.929148,42.765700,11.971658,87.123624,526.810423,...,48.495281,62.728543,103.841200,30.478490,1.953291,52.266732,1058.102082,419.962226,117.472135,467.883651
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,872.500000,872.500000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,1745.000000,1745.000000,2012.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,10.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,27.000000,11.000000,0.000000,0.000000
75%,2617.500000,2617.500000,2013.000000,0.000000,0.000000,0.000000,0.000000,0.000000,6.000000,116.500000,...,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,191.000000,117.000000,6.000000,7.000000
max,3490.000000,3490.000000,2014.000000,2173.000000,1128.000000,1776.000000,954.000000,312.000000,3521.000000,11521.000000,...,597.000000,3521.000000,2141.000000,1027.000000,80.000000,1236.000000,22044.000000,6226.000000,2090.000000,8739.000000

In [8]:
# Total = animal_data['CatsAdopt'].sum()
# print (Total)