In [48]:
#import dependencies
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
#read csv 
animal_data = pd.read_csv("Animal Shelter skinniest.csv", sep=',', encoding='latin-1')
animal_data = animal_data.fillna(0)
animal_data.head()

,index1,index2,index3,County,Year,ShelterID,BusName,City,Zip,License Type,...,BegInvOther,OtherRec,OtherAdopt,OtherReclaim,OtherEuth,EndInvOther,AllRec,AllAdopt,AllReclaim,AllEuth
0,0,0,0,Adams,2012.0,5531,Adams County Animal Shelter,Quincy,62305,Animal Control,...,0.0,1.0,0.0,1.0,0.0,0,142.0,82.0,60.0,1.0
1,1,1,1,Adams,2010.0,5531,Adams County Animal Shelter,Quincy,62305,Animal Control,...,0.0,10.0,4.0,1.0,5.0,0,331.0,253.0,66.0,12.0
2,2,2,2,Adams,2011.0,5531,Adams County Animal Shelter,Quincy,62305,Animal Control,...,0.0,10.0,1.0,0.0,9.0,0,267.0,154.0,95.0,18.0
3,3,3,3,Adams,2014.0,5531,Adams County Animal Shelter,Quincy,62305,Animal Control,...,0.0,1.0,1.0,0.0,0.0,0,197.0,78.0,86.0,9.0
4,4,4,4,Adams,2012.0,13357,City of Quincy Animal Shelter,Quincy,62301,Animal Control,...,0.0,6.0,4.0,0.0,2.0,0,1029.0,521.0,286.0,222.0

In [52]:
Total = animal_data["AllRec"].max()
print(Total)

22044.0